*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}

.addtional-text {
    font-size: 1.8rem;
}

.top-hero {
    position: relative;
    height: 20rem;
    background-size: cover;
    z-index: 0;
}

.top-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3.5rem;
    text-transform: uppercase;
}

/*----------*/
/* NAWIGACJA */
/*----------*/

nav {
    font-size: 1.5rem;
    text-transform: uppercase;

    .navbar-toggler {
        font-size: 2.5rem;
    }

    .navbar-brand {
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: none;
    }
}


/*----------*/
/* HEADER */
/*----------*/

header {
    font-size: 2rem;

    .carousel-item {
        position: relative;
        height: 400px;
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .carousel-img-one {
        background-image: url('../img/nur-small.jpg');
    }

    .carousel-img-two {
        background-image: url('../img/nissan-small.jpg');
    }

    .carousel-img-three {
        background-image: url('../img/car-small.jpg');
    }
}

/*----------*/
/* HOME */
/*----------*/
.home-boxes {
    padding: 5em 0;

    .home-box {
        i {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }
}

/*----------*/
/* HERO-GRAFIKA */
/*----------*/

.home-passion {
    position: relative;
    height: 350px;
    background-image: url('../img/sunset-big.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

/*----------*/
.home-brand {
    h3 {
        font-size: 3rem;
        font-weight: bold;
    }
}

/*----------*/
/* ABOUT US */
/*----------*/
.aboutus-hero {
    background-image: url('../img/about/highway-big.jpg');
    background-position: bottom;
}

/*----------*/
.aboutus-info {
    background-color: rgba(0, 0, 0, 0.03);

    .container {
        padding: 2em .5em;
    }

    .aboutus-text {
        padding: 1.8em;

        h3 {
            margin-bottom: 0.5em;
            font-size: 2.3rem;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline #007bff;
        }
    }

    .aboutus-text-right {
        text-align: right;
    }

    .aboutus-img {
        height: 300px;
        background-image: url('../img/about/ferrari-big.jpg');
        background-position: center;
        background-size: cover;
    }
}

/*----------*/
.aboutus-bottom {
    i {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
    }
}

/*----------*/
/* Services */
/*----------*/
.service-hero {
    background-image: url('../img/services/car-big.jpg');
    background-position: 0 75%;
}

/*----------*/

.service-hero-box {
    position: relative;
    height: 300px;
    background-size: cover;
    z-index: 0;

    P {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}

.service-pricing {
    .box-one {
        background-image: url('../img/services/a1\ \(4\).jpg');
    }

    .box-two {
        background-image: url('../img/services/a1\ \(1\).jpg');
    }

    .box-three {
        background-image: url('../img/services/a1\ \(3\).jpg');
    }

    .box-four {
        background-image: url('../img/services/a1\ \(2\).jpg');
    }

    .card-header {
        font-size: 2rem;
        cursor: pointer;
    }

    h3 {
        font-weight: bold;
    }

    .btn {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

/*----------*/
/* Projects */
/*----------*/

.projects-hero {
    background-image: url('../img/Projects/project-hero.jpg');
    background-position: 0 52%;
}

.projects {
    img {
        height: 240px;
        object-fit: cover;
    }

    .btn {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
}

/*----------*/
/* CONTACT */
/*----------*/

.contact-hero {
    background-image: url('../img/contact/con1.jpg');
    background-position: 0 40%;
}

.contact {

    h2,
    h3 {
        text-transform: uppercase;
        font-weight: bold;
    }

    h2 {
        font-size: 2.5rem;
    }

    .contact-logo {
        font-size: 3rem;
    }

    input,
    select,
    textarea {
        font-size: 1.6rem;
    }

    .btn {
        padding: 0.3em .8em;
        font-size: 2rem;
    }
}

.contact-map {
    iframe {
        width: 100%;
        min-height: 400px;
    }
}

/*----------*/
/* FOOTER */
/*----------*/
footer {
    font-size: 1.6rem;
}

@media (min-width:992px) {
    .aboutus-info {
        .container {
            padding: 0;
        }

        .aboutus-text {
            padding: 5em 0;
            transform: skew(-15deg);
        }

        .aboutus-text-left {
            padding-right: 2em;
            text-align: right;
        }

        .aboutus-text-right {
            padding-left: 2em;
            text-align: left;
        }

        .aboutus-img {
            height: auto;
            transform: skew(-15deg);
        }
    }

    .aboutus-shadow {
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .4);
    }

}



@media (min-width:1400px) {

    .carousel-item {
        height: 600px;
    }

    .carousel-img-one {
        background-image: url('../img/car-big.jpg');
    }

    .carousel-img-two {
        background-image: url('../img/nissan-big.jpg');
    }

    .carousel-img-three {
        background-image: url('../img/main-carousel-3-hq.jpg');
    }
}